

/*--------- 
MAIN CONTAINERS STYLING
---------*/



.page{
   margin:auto;
   display: flex;
   align-items: center;
   justify-content:center;
   height: 100vh;
   background-color: #f0f0f0;
}
   
.main-container{
   background-color: var(--slate-100);
   width: 75rem;
   height: 53.125rem;
   display: flex;
     align-items: center;
   justify-content: center;
}
     
      
.mortgage-main{
   background-color: #ffffff;
   display: flex;
   width: 840px;
   height:505px;
   border-radius: 25px;
   box-shadow: 0 20px 30px rgba(0, 0, 0, 0.25);
}

.mort-left{
  margin: 30px 20px;
  width: 420px;
}

.mort-right{
   flex-basis: 50%;
   flex-grow: 0;
   flex-shrink: 0;
   height: 100%;
   border-radius: 0px 25px 25px 85px;
   border: 1px solid black;
   background-color: var(--slate-900);
   width: 26.25rem;
}


/*--------
CHILD CONTAINERS STYLING 
 -------*/


.form-top{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 40px;
}
               
button{
   border: none;
   background-color: transparent;
   font-size: 16px;
   color: grey;
   text-decoration: underline;
   font-weight: 700;
}
            
.mortgage-amount{
   margin: 15px auto 0;
}

.amount{
   height: 40px;
   border-radius: 5px;
   border: 1px solid grey;
   display: flex;
   align-items: center;
}

.mort-term-rate{
   display: flex;
   margin-top: 15px;
   justify-content: space-between;
}

.term-rate-field{
   border-radius: 5px;
   border: 1px solid grey;
   display: flex;
   justify-content: center;
   /* width: 172px; */
}
.field-box{
   width: 178px;
}
/* .radios-cnt{

} */


/*---------- 
FIELDS,ICONS AND MIX
----------*/


.icon-top{
   padding: 8px 15px 8px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight:bold;
   color: var(--slate-700);
   background-color: var(--slate-100);
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
}
.icon{
   padding: 8px 10px 8px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight:bold;
   color: var(--slate-700);
   background-color: var(--slate-100);
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
}
.input-field-1{
   height: 100%;
   width: 100%;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
   border:none;
   padding: 12px;
   font-weight: 900;
   color: #475f67;
}
.input-field-2{
   width: 100%;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
   border:none;
   padding: 12px;
   font-weight: 900;
   color: #475f67;
}

.label{
   font-size: 14px;
   color: grey;
   display: block;
   margin-bottom: 10px;
   font-weight: 600;
}

.radio-label{
   font-size: 14px;
   margin-left: 12px;
   font-weight: 900;
   color: #475f67;
}

.radio-single {
  height: 40px;
  border-radius: 5px;
  border: 1px solid grey;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 20px;
  transition: background-color 0.3s;

  input {
    appearance: none;
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid black;
   /*  margin-right: 10px; */
  }

  input:checked {
    width: 15px;
    height: 15px;
    outline: 3px solid yellow;
    background-color: #afa74c;
    border: 2.5px solid #fafae0;
  }

  &.checked {
    background-color: #fafae0;
    border-color: yellow;
  }
}
               
            
         


