.page{
   margin:auto;
   display: flex;
   align-items: center;
   justify-content:center;
   height: 100vh;
   background-color: #f0f0f0;
   .main-container{
      background-color: var(--slate-100);
      color:rgba(42, 132, 155, 0.855);
      width: 75rem;
      height: 53.125rem;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 20px 30px rgba(0, 0, 0, 0.25);
      .mortgage-main{
         background-color: #ffffff;
         display: flex;
         width: 840px;
         height:505px;
         border-radius: 25px;
         
      }
   };
   
}
